// app global css in SCSS form

.main-headers-sun {
  background: linear-gradient(to right, #00b4db, #0083b0)
}

.main-headers-dark {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364)
}

.drawer-background-dark {
  background: #121212
}

.linkClass {
  text-decoration:none;
  color: black;
}

.linkDarkClass {
  text-decoration:none;
  color: white;
}

.markdownStyle h1{
  font-size: 26px;
  line-height: 1.6;
}

.markdownStyle h2{
  font-size: 24px;
  line-height: 1.6;
}

.markdownStyle h3{
  font-size: 22px;
  line-height: 1.6;
}

.markdownStyle h4{
  font-size: 20px;
  line-height: 1.6;
}

.markdownStyle h5{
  font-size: 18px;
  line-height: 1.6;
}

.markdownStyle h6{
  font-size: 16px;
  line-height: 1.6;
}