a2wsgi==1.10.10 ; python_version >= "3.9" and python_full_version <= "3.13.0"
aiofiles==24.1.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
annotated-types==0.7.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
anyio==4.12.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
apscheduler==3.11.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
asgiref==3.11.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
blinker==1.9.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
bomiot-asgi==0.6.26 ; python_version >= "3.9" and python_full_version <= "3.13.0"
bomiot-message==0.4.6 ; python_version >= "3.9" and python_full_version <= "3.13.0"
bomiot-token==0.7.16 ; python_version >= "3.9" and python_full_version <= "3.13.0"
certifi==2026.7.22 ; python_version >= "3.9" and python_full_version <= "3.13.0"
charset-normalizer==3.5.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
click==8.1.8 ; python_version >= "3.9" and python_full_version <= "3.13.0"
colorama==0.4.6 ; python_version >= "3.9" and python_full_version <= "3.13.0" and (sys_platform == "win32" or platform_system == "Windows")
django-apscheduler==0.7.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
django-cors-headers==4.4.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
django-filter==24.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
django==4.2.30 ; python_version >= "3.9" and python_full_version <= "3.13.0"
djangorestframework-csv==3.0.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
djangorestframework==3.15.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
et-xmlfile==2.0.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
exceptiongroup==1.3.1 ; python_version >= "3.9" and python_version < "3.11"
fastapi==0.115.14 ; python_version >= "3.9" and python_full_version <= "3.13.0"
flask==3.1.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
h11==0.16.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
httptools==0.6.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
idna==3.19 ; python_version >= "3.9" and python_full_version <= "3.13.0"
importlib-metadata==8.7.1 ; python_version >= "3.9" and python_version < "3.10"
itsdangerous==2.2.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
jinja2==3.1.6 ; python_version >= "3.9" and python_full_version <= "3.13.0"
markupsafe==3.0.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
numpy==2.0.2 ; python_version >= "3.9" and python_version < "3.11"
numpy==2.4.6 ; python_version == "3.11"
numpy==2.5.3 ; python_version >= "3.12" and python_full_version <= "3.13.0"
openpyxl==3.1.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
orjson==3.10.18 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pandas==2.2.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
psutil==7.2.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pydantic-core==2.46.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pydantic==2.13.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pyjwt==2.14.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
python-dotenv==1.2.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pytz==2026.3.post1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pyyaml==6.0.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
requests==2.32.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
six==1.17.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
sqlparse==0.5.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
starlette==0.46.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
tomlkit==0.13.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
typing-extensions==4.16.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
typing-inspection==0.4.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
tzdata==2026.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
tzlocal==5.3.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
urllib3==2.6.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
uvicorn[standard]==0.35.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
uvloop==0.22.1 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.9" and python_full_version <= "3.13.0"
watchdog==6.0.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
watchfiles==1.1.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
websockets==15.0.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
werkzeug==3.1.8 ; python_version >= "3.9" and python_full_version <= "3.13.0"
xlsxwriter==3.2.9 ; python_version >= "3.9" and python_full_version <= "3.13.0"
zipp==3.23.1 ; python_version >= "3.9" and python_version < "3.10"
